# **ASSIGNMENT**  **2(a)**

# **Ques 1) Describe string Slicing and provide example.**

**Ans-**
String Slicing - it refer to excess specific character of string through the **syntax [start:stop:step] .**

For example :
a= [ " Times of India newspaper can improve English"]
Here , I want to access newspaper name
So that portion of character is considered as string Slicing.

In [ ]:
#Example
A= "My name is Rashi" # let's access full statement
A[0:]

'My name is Rashi'

In [ ]:
# let's access just name
A[-5:]

'Rashi'

In [ ]:
#Lets access in reverse
A[::-1]

'ihsaR si eman yM'

In [ ]:
# let's access with 2 step
A[0::2]

'M aei ah'

In [ ]:
#lets access 'My'
A[0:2]

'My'

# **Ques 2) explain the  key features of lists in Python.**

# Ans-
 list is type of data structures that store mutable data.

Features

1) List can be modify after creating as it is Mutable object.

2) List can store heterogeneous data ( string, float, int, Boolean value etc.)

3) it allows to access and add the data in existing list.

4) you can also remove the data after creating list.

5) if the data is complex and lengthy then list provide feature of sorting the data.

6) one can append the data at any place by using .insert() feature.

7) list is countable in nature as we can count the no. Of elements stored in it.

So lists has unique feature , one can use as per the type of project he /she working on.

# **Ques 3) describe how to access, modify ,delete elements in the lists with examples.**

**Ans-**

In [ ]:
A= [ "Course", 23, 45.34, True, False , 7+8j, "Rashi"]
A

['Course', 23, 45.34, True, False, (7+8j), 'Rashi']

In [ ]:
# let's see how to access elements
#i want to access element on 5th index
A[5]

(7+8j)

In [ ]:
#By index we can access the elements
A[6]

'Rashi'

In [ ]:
# I want to modify course with "Data analytics"
A[0] # access elements first

'Course'

In [ ]:
A[0] = "data analytics"
A

['data analytics', 23, 45.34, True, False, (7+8j), 'Rashi']

In [ ]:
A= ["India", "delhi" , 34, 87.68]
B= ["School" , " college"]
# I want to delete List B
del B # here it will throw error if I want to access list B
B

NameError: name 'B' is not defined

# **Ques 4) compare and contrasts the lists and tuple with example.**

Ans-

• Immutablity= tuple doesn't support mutability means u can't modify it after creating , whereas list is Mutable object.

In [ ]:
#Tuple -()
#List -[]
# Tuple is immutable
A= ("rashi", 45, 73.7, True )
type (A)
A

('rashi', 45, 73.7, True)

In [ ]:
#now let's try to modify 45 with 54
A[1]

45

In [ ]:
A[1]= 54. # it will throw error
A

TypeError: 'tuple' object does not support item assignment

In [ ]:
# list
A= ["rashi", 45, 73.7, True ]
type (A)

list

In [ ]:
# modify
A[1]= 54
A

['rashi', 54, 73.7, True]

• Access = one can access the elements of tuple but can't append, insert or remove it . Whereas in list you can perform all these features

In [ ]:
Tuple =("rashi", 45, 73.7, True)
Tuple

('rashi', 45, 73.7, True)

In [ ]:
# try to add "pwskills" ( it will throw error)
Tuple.append("pwskills")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
List =["rashi", 45, 73.7]
List

['rashi', 45, 73.7]

In [ ]:
# let's add "skills"
List.append("skills")
List

['rashi', 45, 73.7, 'pwskills', 'pwskills', 'skills']

In [ ]:
# remove elements
Tuple =("rashi", 45, 73.7, True)
Tuple.remove(True)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
Tuple =["rashi", 45, 73.7, True]
Tuple.remove(True)
Tuple

['rashi', 45, 73.7]

In [ ]:
#insert element
Tuple =("rashi", 45, 73.7, True)
Tuple.insert(16)

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
Tuple =["rashi", 45, 73.7, True]
Tuple.insert(1, "pw")
Tuple

['rashi', 'pw', 45, 73.7, True]

• hushability=  List is unhushable as you can't use it as key in dictionary but you can use tuple as key in dictionary.

In [ ]:
S= {["name"]: "Rashi"} # throw error  if we store list as key
S

TypeError: unhashable type: 'list'

In [ ]:
B= {("Name"):"Rashi"}

B

{'Name': 'Rashi'}

Use case= tuple is static in data so if the data is rigid only then it is useful. List is flexible in nature .

# **Ques 5- Describe key features of sets and provide example of their use.**

**Ans-**

Sets are un-ordered collection of data that avoid repetation in container.

•It can stored heterogeneous and unique data.

•You can not access elements from set but it allows to add , remove , and pop option.

•Set is Mutable in nature but frozenset is immutable

•you can create Tuple in set . Eg:- {(),()}

•Set operation is another feature in which one can use interaction, union, difference and symmetric on sets.

In [ ]:
St= {"A"}
type(St)

set

In [ ]:

# Stored heterogeneous data
St={"apple", 54, 23.4, True,"apple", 54, "Apple", "banana"}
St # it avoided repetation of apple

{23.4, 54, 'Apple', True, 'apple', 'banana'}

In [ ]:
St[0] # not accessable

TypeError: 'set' object is not subscriptable

In [ ]:
A= {23,45,"rashi"} # adding element
A.add("Skills")
A

{23, 45, 'Skills', 'rashi'}

In [ ]:
A.pop() # popping out element
A

{23, 45, 'Skills'}

In [ ]:
A= {23,45,"rashi"} # removing element
A.remove(45)
A

{23, 'rashi'}

In [ ]:
#mutability
S={23,34,"Rashi"}
S.update(["Ajay"])
S

{23, 34, 'Ajay', 'Rashi'}

In [ ]:
My_work= frozenset([1,2,3,4])
type(My_work)

frozenset

# **Ques 6) discuss Use case of tuple and sets in python programming.**

Set are un-ordered, unique collection of data and avoide duplicate.it is also allow to add , pop, remove and update elements.

In [ ]:
A= {1,2,45,35,"rashi"}
A

{1, 2, 35, 45, 'rashi'}

In [ ]:
type (A)

set

In [ ]:
A.add(65)
A # adding element

{1, 2, 35, 45, 65, 'rashi'}

In [ ]:
A.pop() # popping out
A

{2, 35, 45, 65, 'rashi'}

In [ ]:
# remove
A.remove(45)
A

{2, 35, 65, 'rashi'}

In [ ]:
A.update (["course"])
A

{2, 35, 65, 'course', 'rashi'}

In [ ]:
#creating multiple tuples in sets
Abc= {(1,2),(2,3),(3,4)}
Abc

{(1, 2), (2, 3), (3, 4)}

In [ ]:
# SET OPERATION
A= {"DANCE" ,"SWIM" , 34 ,72.4}
B= {34, "Dance" ,"SWIM"}
# UNION OF SET
A|B

{34, 72.4, 'DANCE', 'Dance', 'SWIM'}

In [ ]:
A&B # intersaction

{34, 'SWIM'}

In [ ]:
A-B # difference

{72.4, 'DANCE'}

In [ ]:
A^B # symmetric

{72.4, 'DANCE', 'Dance'}

Tuple is un-ordered collection of data . It can store variety of data and immutable in nature. So , it doesn't support add , remove elements from it .
You can use tuple when you want static data.

Set provide add, remove, pop any elements from set.

In [ ]:
A= (3,4,5,"course",4,5,4)
type(A)

tuple

In [ ]:
A[1]

4

In [ ]:
A.count(4) # no. Of elements in tuple

3

In [ ]:
A[0:3] # Slicing

(3, 4, 5)

In [ ]:
#index
A.index(5)

2

In [ ]:
A=("Rashi")
B=(" Meena")
A+B

'Rashi Meena'

# **Ques 7) describe how to add modify and delete items in a dictionary with example.**

In [ ]:
A= {"name": "rashi"}
A

{'name': 'rashi'}

In [ ]:
type(A)

dict

In [ ]:
# adding course
A["Course"]="Data analytics"
A

{'name': 'rashi', 'Course': 'Data analytics'}

In [ ]:
# adding another element "Fees"
A["Fees"]= 15000
A

{'name': 'rashi', 'Course': 'Data analytics', 'Fees': 15000}

In [ ]:
# modifying the name with Ajay
A['name']= "Ajay"
A

{'name': 'Ajay', 'Course': 'Data analytics', 'Fees': 15000}

In [ ]:
A= {'name': 'Ajay', 'Course': 'Data analytics', 'Fees': 15000}
B= {"Course": "data sci", "class": 10}
# I want to delete 'class'
del B["class"]
B

{'Course': 'data sci'}

In [209]:
# I want to delete B list
del B
B # it will throw an error as B list is deleted

NameError: name 'B' is not defined

# **Ques 8) discuss the importance of dictionary keys being immutable and provide example.**

**Ans-**

In dictionary, it is necessary that the key must be immutable object as if it is not it will also change its hash value.

Ex - A= "Daksh" and  A= "Aaksh"
Then their both hash value will be change but when you try to found hash value of list ,it will throw error as it is Mutable object.

So while creating dictionary, it is crucial to store the key value in form of string, float, integer, tuple etc .
Immutable key prevent duplication and ensure each key is unique.

So You can't use list, dict, set as keys

In [ ]:
# try to create dict with Mutable object
A= {[1,2,3] : "Name"} # it will throw error name "unhashable"
A

TypeError: unhashable type: 'list'

In [ ]:
#Creating dict in dictionary
A={{"name": "rashi"}}
A

TypeError: unhashable type: 'dict'

In [ ]:
# Immutable object
A= {"Name": "rashi", "Course":"Da"}
A

{'Name': 'rashi', 'Course': 'Da'}

In [ ]:
# Float
F={45.6:76}
F

{45.6: 76}